.projects-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	max-width: 600px;
	margin: auto;
}

.project {
	margin-top: 50px;
	width: 100%;
	max-width: 400px;
	padding: 20px;
	/*height: 200px;*/
}

.root {
	width: 100%;
	max-width: 360;
	background-color: wheat,
}


.project-buttons {
	display: flex;
	justify-content: space-between;
	width: 60%;
	min-width: 200px;
	margin: auto;
}